backups
crash-reports
dynmap
emotes
journeymap
local
logs
saves
Distant_Horizons_server_data
FMDM-1.20.1-2.0.jar
mcef-libraries
schematics
screenshots
.curseclient
.sl_password
.libvlc.dll
.libvlccore.dll
minecraftinstance.json
servers.dat_old
TrashSlotSaveState.json
usercache.json
usernamecache.json
emotecraft.json
*.log
config/ars_nouveau/*
emotecraft.json
modernfix/*
kubejs
modernfix
downloads
emojiful
resourcepacks
scripts
server-resourcepacks
wd_filehost
.qmenu_opened
modpack.zip
patchouli_data.json
rhino.local.properties
wd_keyboard_warning.txt
wd_next.txt
options.txt